.nav-bar{
  background: linear-gradient(to right, #990099 3%, #ff66cc 99%);
  border-radius: 0px 0px 5px 5px;
}

.hdr-img{
  width: 60px;
  margin-right: 5px;
  border-radius: 65%;
}

.heading{
  display: flex;
  align-items: center;
}

.name{
  color: whitesmoke;
  margin-right: 6px;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 3px solid black; */
}

.inpt-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inpts{
  width: 15em;
  height: 20px;
  border-radius: 6px;
  margin: 30px 10px 10px 10px;
  text-indent: 5px;
}

.btn{
  width: 200px;
  margin: 20px 10px 20px 10px;
  background: linear-gradient(to right, #990099 3%, #ff66cc 99%);
  height: 30px;
  border-radius: 8px;
  color: whitesmoke;
}